<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.distribution.adapter.out.persistence.mapper.DistributorJoinMapper">

    <!-- 检查用户是否有待审核的申请 -->
    <select id="existsPendingByUserId" resultType="boolean">
        SELECT COUNT(1) > 0 FROM distributor_join 
        WHERE user_id = #{userId} AND audit_status = 0
    </select>

    <!-- 根据查询条件查找申请列表 -->
    <select id="findByQuery" resultType="com.mall.distribution.adapter.out.persistence.entity.DistributorJoinEntity">
        SELECT * FROM distributor_join
        <where>
            <if test="query.joinId != null">
                AND join_id = #{query.joinId}
            </if>
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.applicantName != null and query.applicantName != ''">
                AND applicant_name LIKE CONCAT('%', #{query.applicantName}, '%')
            </if>
            <if test="query.phone != null and query.phone != ''">
                AND phone LIKE CONCAT('%', #{query.phone}, '%')
            </if>
            <if test="query.auditStatus != null">
                AND audit_status = #{query.auditStatus}
            </if>
        </where>
        ORDER BY created_at DESC
        <if test="query.pageNum != null and query.pageSize != null">
            LIMIT #{query.pageSize} OFFSET #{(query.pageNum - 1) * query.pageSize}
        </if>
    </select>

</mapper>